venv/*
.idea/*
dist/*
secrets.env
secrets.yaml
.env
match_data/*

.py3/
*/.py3/*
db.sqlite3
.coverage
*.db-journal

*.swp
*.swo
*.pyc
.tox
*.egg-info/
/temp/
logs/
*.db
/drakebane/frontend/node_modules/
/drakebane/frontend/.idea/
/drakebane/backend/settings.json
/services/league_ranking/configs/
/data/
