<div class="container">
  <a *ngIf="changes" class="waves-effect waves-light btn" style="position: absolute; right: 20px; bottom: 20px;"
     (click)="save_changes()">Update
    Settings<i class="material-icons right">save</i></a>
  <div class="row">
    <div class="col s6" *ngIf="regions">

      <h5>Regions to pull</h5>
      <div class="switch" *ngFor="let region of regions | keyvalue">
        <label>
          <input type="checkbox" [(ngModel)]="region.value.status" (click)="update_region(region.key)">
          <span class="lever"></span>
          <b>
            {{region.key}}
          </b>
        </label>
        <p>
          <label *ngFor="let platform of region.value.platforms | keyvalue">
            <input type="checkbox" [attr.disabled]="!region.value.status ? true : null"
                   [(ngModel)]="platform.value" (click)="update_platform(region.key, platform.key)"/><span
            style="margin-right: 20px">{{platform.key}}</span>
          </label>
        </p>
      </div>
    </div>
    <div class="col s6">

      <h5>API Key</h5>
      <div class="input-field col s8">
        <input id="password" [attr.type]="!keyDisplayed? 'password' : 'text'" class="validate" (change)="update_api_key()" [(ngModel)]="apiKey">
        <label for="password">API Key</label>
      </div>
      <div class="switch col s6">
        <label>
          <input type="checkbox" [(ngModel)]="keyDisplayed">
          <span class="lever"></span>
          <b> Show </b>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col s6">

      <h5>Services</h5>
      <div class="switch" *ngFor="let service of services | keyvalue">
        <label>
          <input type="checkbox" [(ngModel)]="service.value" (click)="update_service(service.key)">
          <span class="lever"></span>
          <b>
            {{service.key}}
          </b>
        </label>
      </div>
    </div>
    <div class="col s6">
  </div>
</div>

